html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #026F95;
  font-family: 'Quicksand', sans-serif;
}

body {
  position: absolute;
  left: 0%;
  bottom: 0%;
  top: 0%;
}

main {
  height: 100%;
  width: 70%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}


-------------------------------HEADER ELEMENTS------------------------------- 
.header-container {
  display: flex;
}

.logo {
  display: flex;
}

.header{
  display: flex;
  flex-direction: row-reverse;
  align-content: space-between;
  justify-content: center;
}

.header-title{
  size: 100px;
  color:#FF6A2C;
  font-weight: bold;
}

header {
  position: relative;
  display: flex;
  background-color: #37261f;
  height: 18%;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}

.header-stripes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}

-------------------------------NAVIGATION ELEMENTS------------------------------- 


.estimated-quote-section {
  background-color: white;
}
.nav-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.nav-greeting {
  color: #FEE4B4;
}

.nav-section {
  height: 100vh;
  width: 20%;
  padding: 10px;
  background-color: #FF6A2C;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.trip-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
}

.estimated-button-container {
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
}

.navigation-user-card {
  display: flex;
  padding-top: 10px;
  background-color: #D9D9D9;
  flex-direction: column;
  padding: 10px;
  margin-top: 50px;
}

.estimated-button:hover, .submit-button:hover, .navigation-user-card:hover  {
  background-color: #80B0A4;
  transition: 0.7s;
}

.navigation-user-card{
  color: #37261f;
}

.navigation-user-card:hover {
  background-color: #80B0A4;
  transition: 0.7s;
}

.nav-greeting {
  font-weight: bolder;
  color: black;
}
-------------------------------Main Card Section------------------------------- .all-trips {
  display: flex;
}

.error-handling-main {
  background-color: #D9D9D9;
  color: #FF6A2C;
}

.main-title {
  display: flex;
  justify-content: center;
  color: #FF6A2C;
}

.main-section-container {
  display: flex;
}

.main-button {
  background-color: #D9D9D9;
}
.main-button:hover {
  background-color: #FF6A2C;
  transition:0.7s;
}
.main-container-buttons {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.main-button {
  width: 125px;
  margin: 10px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 4%;
  grid-row-gap: 7%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #80B0A4;
  /* background-color: #5bb390; */
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  border: 2px solid grey;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5%;
  background-color: #D9D9D9
}

img {
  height: 150px;
  width: 100%;
  margin-bottom: 10%;
}

.card-text {
  background-color: #D9D9D9;
}

  -------------------------------Login Section------------------------------- 

  .login-page{
    display: flex;
  }

  .container-login-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 50px;
    align-content: stretch;
    justify-content: center;
    align-items: center;
  }


  .login-title {
    display: flex;
    color:  #FF6A2C;
  }
  
  .login-container {
    margin: 30px;
  }
  
  .login-button {
    background-color: #FF6A2C;
    width: 100px;
  }
  
  .login-username-container, .login-password {
    margin-bottom:30px;
  }
  
  
  .image-login-page {
    display: flex;
    height: 100%;
    width: 30%
  }
  
  .image-login {
    height: 300px !important;
  }
  .hidden {
    display: none;
  }
  