body {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #026F95;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.10em;
  margin: 2px;
}

body {
  position: absolute;
  left: 0%;
  bottom: 0%;
  top: 0%;
}

main {
  height: 100%;
  width: 70%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

-------------------------------HEADER ELEMENTS------------------------------- .header-container,
.logo,
.header,
.header-title {
  display: flex;
}

.logo {
  position: relative;
  height: auto;
  max-width: 125%;
}

.header {
  flex-direction: row-reverse;
  align-content: space-between;
  justify-content: center;
}

.header-title {
  color: #ff9113;
  font-weight: bold;
  margin-top: -30px;
  font-size: 1.3em;

}

.header-stripes {
  flex-wrap: wrap;
  flex-direction: row;
}

.logo-image {
  width: 100%;
  height: 175px;
  margin-top: -20px;
  margin-bottom: -10px;
}

header {
  position: relative;
  display: flex;
  background-color: #37261f;
  height: 20%;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 1em;
    margin-top: -20px;
  }

  .logo-image {
    max-height: 80% !important;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 0.9em;
    margin-top: -10px;
  }

  .logo-image {
    max-height: 60% !important;
  }
}

-------------------------------NAVIGATION ELEMENTS------------------------------- .estimated-quote-section {
  background-color: white;
}

.nav-section {
  display: flex;

}

.nav-greeting {
  color: #FEE4B4;
}

.nav-section {
  height: 100vh;
  width: 20%;
  padding: 10px;
  background-color: #FF6A2C;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.trip-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
}

.estimated-button-container {
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
}

.navigation-user-card {
  display: flex;
  padding-top: 10px;
  background-color: #D9D9D9;
  flex-direction: column;
  padding: 10px;
  margin-top: 50px;
}

.estimated-button:hover,
.submit-button:hover,
.navigation-user-card:hover {
  background-color: #80B0A4;
  transition: 0.7s;
}

.navigation-user-card {
  color: #37261f;
}

.navigation-user-card:hover {
  background-color: #80B0A4;
  transition: 0.7s;
}

.nav-greeting {
  font-weight: bolder;
  color: black;
}

@media only screen and (max-width: 768px) {
  .nav-section {
    width: 100%;
  }
  .trip-form {
    flex-wrap: wrap;
  }
}

-------------------------------Main Card Section------------------------------- .main-section-container {
  height: 80%;
}

.card-holder-img {
  width: 100%;
}

.main-section-container,
.main-title,
.all-trips,
.main-container-buttons {
  display: flex;
}

.main-button {
  background-color: #D9D9D9;
}

.main-button:hover {
  background-color: #FF6A2C;
  transition: 0.7s;
}

.main-container-buttons {
  padding: 10px;
  justify-content: center;
}

.main-button {
  width: 125px;
  margin: 10px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 7%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  border: 1px solid #37261f;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 5%;
  background-color: antiquewhite;
}

img {
  margin-bottom: 11%;
  height: 150px;
}

.card-text {
  background-color: #D9D9D9;
}

.card-title {
  display: flex;
  font-weight: bold;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 6%;
    grid-row-gap: 5%;
  }
}

@media screen and (max-width: 1000px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8%;
    grid-row-gap: 3%;
  }
}

@media screen and (max-width: 480px) {
  .card-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

-------------------------------Login Section------------------------------- .login-page-stripes {
  display: flex;
  height: 100%;
  width: 20%;
}

.image-stripes {
  height: 100vh;
}

.container-login-section {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-left: 200px;
  justify-content: center;
  align-items: center;
}

.login-title {
  display: flex;
  color: #FF6A2C;
  font-family: 'Kool Beans', sans-serif;
}

.login-container {
  margin: 30px;
  color: antiquewhite;
}

.login-button {
  background-color: #FF6A2C;
  width: 100px;
}

.login-button:hover {
  background-color: #06265a;
  color: #FF6A2C;
}

.login-username-container,
.login-password {
  margin-bottom: 30px;
}

.time-to-travel {
  display: flex;
}

.login-page {
  display: flex;
  justify-content: flex-start;
  background-image: url("../images/plane-blue.png");
}

@media (max-width: 1000px) {
  .container-login-section {
    margin-left: 100px;
  }
}

@media (max-width: 768px) {
  .login-page-stripes {
    width: 100%;
    height: 100%;
  }

  .image-stripes {
    height: 100vh;
  }

  .container-login-section {
    margin-top: 53px;
    margin-left: 20px;
  }

  .login-container {
    margin: 15px;
  }

  .login-username-container,
  .login-password {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .login-title {
    font-size: 20px;
  }

  .login-username-container,
  .login-password {
    margin-bottom: 10px;
  }

  .login-button {
    width: 80px;
  }
}

.login-error  {
  display:flex;
  margin: 10px;
}
.hidden {
  display: none;
}